**/node_modules
**/dist
**/.turbo
**/.next
**/.env
**/.env.*
!.env.example

apps/api
infra
.github
docker
docker-compose.yml
README.md
.git
.gitignore
.prettierrc.json
.vscode
.idea
*.log
*.tsbuildinfo
